.input{
    padding: 10px, 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;

}
.input:hover{
    background-color: #b680f4;
}
.input2{
    padding: 10px, 20px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;

}
.input2:hover{
    background-color: #b680f4;
}
.container{
    width: 300px;
    margin-bottom: 30px;
}
@media(max-width:500px){
    .container{
        width: 90%;
    }
}