
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    height:max-content;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-image: radial-gradient(circle at 37.72% -19.64%, #7b51ad 0, #6b4cad 50%, #261a61 100%);
    /* color:#679F42 */
    }
  
  @media(max-width:500px){
    .main{
    height:100%;
    width: 100%;
    padding:5px
    }
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }