@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
.description {
     color: white;
      
    padding: 30px;
    float: left;
    width: 55%;
    border-left: 2px solid #453072;
    height: 100%;
    background-color: #453072;
    /* h1 {
      color: #515151;
      font-weight: 300;
      padding-top: 15px;
      margin: 0;
      font-size: 30px;
      font-weight: 300;
    }
  
    h2 {
     color: #515151;
     margin: 0;
     text-transform: uppercase;
     font-weight: 500;
    }
   
    h4 { 
      margin: 0;
      color: #727272;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px
    }
   
    p { 
      font-size: 12px; 
      line-height: 20px;
      color: #727272;
      padding: 20px 0;
      margin: 0;
   } */
 }
  .card {
    width: 650px;
     height: 320px;
    background: #f1f1f1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;
    margin-bottom: 30px;
    color:#6b4cad
    
  }.card:hover {
      
      box-shadow: 30px 28px 17px 5px rgba(0,0,0,0.2),0 6px 60px 0 rgba(0,0,0,0.19);
    
    }
    .container{
        display: flex;
        max-width: 100%;
        margin-top: 20px;
        justify-content:center;
}

.photo {
      
    padding: 10px;
    width: 45%;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .img { 
      max-height: 240px;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  

@media(max-width:500px){
    .card{
        width: 80vw;
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 0;
    }
    
    .photo {
        height:fit-content;
        width: 100%;
        margin:0;
        padding: 0;
        justify-content: center;
        align-items: center;
      }
      .description{
          display: flex;
          flex-direction: column;
          margin-left: 0;
          width: 100%;
    border-left: none;
    border-top: 2px solid #453072;
    height: 90%;
    padding: 15px;

      }
      .h2{
          margin: 5px;
      }
      
}
    
