@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
.description {
      
    padding: 30px;
    float: left;
    width: 55%;
    border-left: 2px solid #efefef;
    
    /* h1 {
      color: #515151;
      font-weight: 300;
      padding-top: 15px;
      margin: 0;
      font-size: 30px;
      font-weight: 300;
    }
  
    h2 {
     color: #515151;
     margin: 0;
     text-transform: uppercase;
     font-weight: 500;
    }
   
    h4 { 
      margin: 0;
      color: #727272;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px
    }
   
    p { 
      font-size: 12px; 
      line-height: 20px;
      color: #727272;
      padding: 20px 0;
      margin: 0;
   } */
 }
  .card {
    width: 650px;
     height: 375px;
    background: #6b4cad;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;
    margin-bottom: 30px;
    color:white
    
  }.card:hover {
      
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 60px 0 rgba(0,0,0,0.19);
    
    }
    .container{
        display: flex;
        max-width: 100%;
        margin-top: 20px;
        justify-content:center;
}

.photo {
      
    padding: 30px;
    width: 45%;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .img { 
      max-height: 240px;
      margin: 0; 
      align-items: center;
      justify-content: center;
    }
  

@media(max-width:500px){
    .card{
        width: 80vw;
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 0;
    }
    
    .photo {
        height:fit-content;
        width: 100%;
        margin:0;
        padding: 0;
        justify-content: center;
        align-items: center;
      }
      .description{
          display: flex;
          flex-direction: column;
            margin-left: 15px;
          width: 90%;
          padding: 0;
    border-left: none;
    border-top: 2px solid #efefef;

      }
      .h2{
          margin: 5px;
      }
}
    
    
    

    
    
      
       .button {

         outline: 0;
         border: 0;
         background: none;
         border: 1px solid #d9d9d9;
         padding: 8px 0px;
         margin-bottom: 30px;
         color: #515151;
         text-transform: uppercase;
         width: 125px;
         font-family: inherit;
         margin-right: 5px;
         transition: all 0.3s ease;
         font-weight: 500;
       }
         .button:hover {
           
            background: darken(white, 2%);
           border: 1px solid #aedaa6;
           color: #aedaa6;
           cursor: pointer;
          
}